
name: Build ML model
on:
  pull_request:
    paths:
      - src/**
      - data/**
      - params.yaml
  push:
    branches:
      - main
      
jobs:
  test_model:
    environment: dev
    name: Test processed code and model
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v2

      - name: Environment setup
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      
      - name: Install dependencies
        run: pip install -r requirements.txt
        
          #- name: Pull data and model

          # env:
          # AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          #AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          #  run: dvc pull -r s3_aws

          #- name: Run tests
          # run: pytest 

      - name: dvc pull
        run: dvc pull
      - name: Evaluate model
        #run: dvc exp run model_evaluation
        run: dvc repro

      - name: Iterative CML setup
        uses: iterative/setup-cml@v1
    
      - name: Create CML report

        env:
          REPO_TOKEN: ${{ secrets.TOKEN_GITHUB }}
        run: |
          # Add the metrics to the report
          dvc metrics show --md >> report.md
          # Add the parameters to the report
          cat dvclive/params.yaml >> report.md
          # Create a report in PR
          cml comment create report.md
          cml comment create report.md --publish --publish-native

